
    
.imgcontainer {
    text-align: center;
    margin: 11px 1px 0;
}
.container {
    padding: 50px;width:50%;
    margin-left: 33%;
    }
.characterClass{
    margin-left: 40%;
    }    
.login{
    margin-left: 50%;
    margin-top: 40px;
    }
.form{
    margin-left: 50%;
    }
    